@use '../abstracts/' as *;

.card {
  margin: 1rem;
  background-color: $clr-neutral-white;
  border-radius: 0.8rem;
  max-width: 20rem;
  min-width: 20rem;
  box-shadow: 4px 7px 18px -2px lighten($clr-grayish-blue, 14%);
  @include media-query(large) {
    max-width: 22rem;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 0.8rem;
    & img {
      border-radius: 0.8rem;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    justify-items: center;
    padding: 1rem;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    padding: 0 1rem;
    color: $clr-dark-blue;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    @include media-query(large) {
      padding: 0;
    }
  }
  &__description {
    text-align: center;
    margin: 1rem;
    font-weight: 400;
    padding:0 .5rem;
    color: $clr-grayish-blue;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    @include media-query(large) {
      font-weight: 400;
      // font-size: 1rem;
      padding: 0;
    }
  }
}
