
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$clr-almost-White: hsl(0, 0%, 98%);
$clr-gray-medium: hsl(0, 0%, 41%);
$clr-almost-black: hsl(0, 0%, 8%);
$breakpoints: (
  large: 900px,
);

$ff-primary: 'Epilogue', sans-serif;
 